<h1> Enter passenger information </h1>

<table cellspacing = "15">
  <tr> <td> Cost </td> <td> From </td> <td> To </td> <td> Departs </td> <td> Duration </td> </tr>
  <tr> <td> $<%= @flight.cost %> </td> <td> <%= @flight.departing_airport.code %> </td> <td> <%= @flight.arriving_airport.code %> </td> <td> <%= @flight.departing_datetime %> </td> <td> <%= @flight.duration %> hrs </td> </tr>
</table>
<br> <br>
<%= form_for @booking do |f|  %>
  <%= f.hidden_field(:flight_id)%>
  <%= f.fields_for :passengers do |passenger|%>
    <%= passenger.label :name %>
    <%= passenger.text_field :name %>
    
    <%= passenger.label :email %>
    <%= passenger.email_field :email %>  
    <br>
  
  <% end %>
  <br>
  <%= f.submit "Book" %>
<% end %>